*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background-color:rgb(54,54,54);
    --header-color:#eeebeb;
    --shiptext-color: #d4d4d4;
    --board-bg:#2c2c2c;
}

body{
    background-color: var(--background-color);
    
}
header{
    text-align: center;
    font-size: 1.5rem;
    color:var(--header-color);
    padding:4rem;
    display: flex;
    justify-content: center;
    gap:1rem;
}

.img-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width:50px;
    height: 50px;
    box-shadow:1px 1px 4px #000;
    transition:transform 1s;
}

.img-cropper:hover{
    cursor: pointer;
    transform: rotate(1turn);
}

.pics {
    
    transform: translateY(-1px) translateX(-2px); 
    height:55px;  
    background-color:#38dae6;
    box-shadow: 1px 1px 4px #000;
  }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
}


main h1{
    text-align: center;
    color:var(--shiptext-color);
    margin-bottom:1.5rem;
    font-weight: 900;
}

.board{
    background-color: var(--board-bg); 
    padding: 0px;  
    width: 450px;
    height: 450px;    
    display:grid;
    grid-template-rows: repeat(var(--gridRow),1fr);
    grid-template-columns: repeat(var(--gridCol),1fr);
    box-shadow:5px 15px 35px rgb(0 0 0 / 25%);
}

.board *{
    
    border:1px #1f1f1f solid;
}

.cleanShip{
    background-color: #f5f5f5;
}

.missed{
    background-color: #38dae6;
}
.fired{
    background-color: #d41515;
}
.compcell{
    transition: all 0.08s;
}
.compcell:hover{
    cursor: pointer;
    background-color: #f5f5f5;
    transform: scale(1.05);
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:3rem;
    background-color: var(--board-bg);
    margin: 15% auto; /* 15% from the top and centered */
    color:#f5f5f5;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: calc(50% - 4rem);
  }
  .btn{
      font-size: 2rem;
      padding:0.5rem 1rem;
      border:none;
      background-color:#eeebeb;
      border-radius:4px;
      outline:none;
  }
  .btn:hover{
      cursor: pointer;
  }